.title-container{
    width: 75%;
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    width: 100%;
}
.landing-title{
    color: #a1a1a1;
    font-size: 55px;
}
.sub-text{
    color: #fff;
    font-size: 40px;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 1%;
}
.title-items{
    display: inline-block;
}
