.region{
    height: 75vh;
    width: 80vw;
    display: flex;
}
.region-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.region-title{
    margin: 5% 0% 0% 5%;
}